extends ./layouts/default.jade

block content
  .about-me
    .content
      .content-container
        .content-row
          .content-column
            h2 Joseph Prosnitz
            p I'm an entrepreneur putting the wheels on a soon to be announced bicycle accessory. I also doproduct development and supply chain. Look for news of my kickstarter, distribution, and other projects on social media.
            p Mentions in the media:
            p
              a(href="http://www.redeyechicago.com/news/redeye-big-idea-semifinalist-joseph-prosnitz-art-design-20151018-story.html") Red Eye Big Idea semifinals
            p
              a(href="http://www.bocabearings.com/innovation-contest/ContestantDetails.aspx?ProjectID=216") Boca Bearings competition
