extends ./layouts/default.jade

block content
  .home
    .content
      .content-container
        .content-row
          .content-column
            h2 Prosnitz Solutions
            p We specialize in elliptical bicycle conversion kits
            a(href="https://docs.google.com/forms/d/1larQvrriZ2xGmwbz7rB_UjcF2G1jtKMlA8M_Vk7PhNY/viewform") Please fill out our survey here.
