extends ./layouts/default.jade

block content
  .products
    .content
      .content-container
        .content-row
          .content-column
            h2 Elliptical Conversion Kit
            h2 Mobile Bike Workstation


